.button{
    border: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &.primary{
        background: linear-gradient(135deg, #6366f1 0%, #4f46e5 100%);
        color: #ffffff;
        font-size: 0.95rem;
        font-weight: 600;
        padding: 0.8rem 1rem;
        border-radius: 8px;

        &:hover{
            background: linear-gradient(135deg, #4f46e5 0%, #6366f1 100%);
        }
    }
    
}